.logo-container
	position: relative
	z-index: 1
	transform: translate(0px,240px)
	background: #ccc
	-webkit-text-fill-color: transparent
	-webkit-background-clip: text
	text-align: center
	.logo
		font-weight: 900
		font-size: 4rem
		text-shadow: -1px 4px 1px #383541
		text-align: center
	&.up
		transform: scale(1,0.6) translate(0,0)
		transition: transform .5s
		.logo
			font-weight: 600

	@media (max-width: 760px)
		.logo
			font-weight: 600
		&.up
			.logo
				font-weight: 400
