.logo-container
	background: #ccc
	-webkit-text-fill-color: transparent
	-webkit-background-clip: text
	.logo
		font-weight: 900
		font-size: 4rem
		text-shadow: -1px 4px 1px #383541
	&.hidden
		display: none
