<div class="search-component">
	<div class="search-area">
		<label for="search">Enter name of a city and press search:</label>
		<input id="search" type="text" name="nameCity" ng-model="NameOfTheCity" required="" class="ng-touched ng-dirty ng-valid-parse ng-empty ng-invalid ng-invalid-required">
	</div>
	<div class="btn" disabled="disabled">
		<span>Search</span>
	</div>
</div>