<div class="search-component">
	<div class="search-area">
		<input type="text" class="message" placeholder="Location..">
	</div>
	<div class="btn" class="btn" onclick="search();" {{disabled}}>
		<span>Search</span>
	</div>
</div>
