<div class="search">
	<div class="img-container">
		<img src="../../../images/weater_logo2.png" alt="Weather logo">
	</div>
	<div class="input-container">
		<input type="text" class="search-value" value="" placeholder="Type location..">
	</div>
	<div class="button-container">
		<div class="btn disabled">
			<span>Search</span>
		</div>
	</div>
</div>
