.forecast-data-component .header {
	color: #fff;
	text-align: center;
	text-shadow: 1px 2px 5px #666;
	font-size: 2rem;
	margin: 50px 0;
}
.forecast-data-component .weather-container {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 1px 3px #808080;
	text-align: center;
}
.forecast-data-component .weather-container .icon {
	vertical-align: middle;
}
.forecast-data-component .weather-container:hover {
	cursor: pointer;
	box-shadow: 2px 2px 7px #808080;
}
.forecast-data-component .weather-container .small_val {
	display: block;
	clear: left;
	font-size: 0.8rem;
}
.forecast-data-component .weather-container .grey {
	color: #fff;
}
