.search-component
	margin: 50px 0
	.search-area
	.search-area input[type=text]
		width: 366px
		height: 32px
	.search-area label
		font-size: 13px
		color: #444
	.button
		width: 205px
		height: 65px
		font-size: 26px
		border-radius: 0
		border: 1px solid #b9b9b9