<!DOCTYPE html>
<html>

<head>
	<title>Weather app</title>
	<meta charset=utf-8>

	<!-- Styles --> <!--ToDo.. min css file -->
	<link rel="stylesheet" type="text/css" href="../../dist/app.min.css" />

	<!-- Scripts --> <!--ToDo.. min js file -->
	<script src="../../dist/app.min.js"></script>

	<!--<script src="../js/scripts/jquery-3.2.1.min.js"></script>-->
	<!--<script src="../js/scripts/handlebars.min.js"></script>-->


	<script src="../js/data/CurrentWeather.js" type="text/javascript"></script>
	<script src="../js/data/ForecastWeather.js" type="text/javascript"></script>
	<!--<script src="../js/App.js" type="text/javascript"></script>-->
	<script src="../js/dataOptions.js" type="text/javascript"></script>

</head>

<body>
	<div class="app-component">
		<script class="weather-template" type="text/x-handlebars-template">
			<div class="wrapper">
				<div class="forecast-data-component">
					{{#if location}}
					<h1 class="header">Weather forecast for {{location.name}}</h1>
					{{/if}}
					<div class="content">
						<div class="seven-days-component">
							{{#if current}}
							<div class="three columns weather-container">
								<div class="small_val" title="Weather">{{location.country}}</div>
								<img class="icon" alt="light rain" src="{{day.condition.icon}}" />
								<div class="small_val" title="Temp">{{current.temp_c}} °C</div>
								<span class="weather-text">{{day.condition.text}}</span>
								<div class="small_val" title="Wind">{{current.condition.text}}</div>
							{{#if location}}
								<div class="date" title="Pressure">{{location.localtime}}</div>
							{{/if}}
							</div>
							{{/if}}
						</div>
					</div>

					<div class="form-group">
					<input type="text" class="message" placeholder="Location..">
					<button class="btn btn-lg btn-block btn-success" onclick="search();">Search</button>
					</div>

				</div>
			</div>
		</script>
	</div>
</body>

</html>
