<!DOCTYPE html>
<html>

<head>
	<title>Weather app</title>
	<meta charset=utf-8>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="../../dist/app.min.css" />

	<!-- Scripts -->
	<!--<script src="../js/scripts/jquery-3.2.1.min.js"></script>-->
	<script src="../js/scripts/handlebars.min.js"></script>


	<script src="../js/data/CurrentWeather.js" type="text/javascript"></script>
	<script src="../js/data/ForecastWeather.js" type="text/javascript"></script>
	<!--<script src="../js/App.js" type="text/javascript"></script>-->
	<script src="../js/dataOptions.js" type="text/javascript"></script>

</head>

<body>
	<div class="app-component">
		<script class="weather-template" type="text/x-handlebars-template">
			<div class="wrapper">
				<div class="forecast-data-component">
					<h1 class="header">Weather forecast for {{location.name}}</h1>
					<div class="content">
						<div class="seven-days-component">
							{{#forecast}} {{#each forecastday}}
							<div class="three columns weather-container">
								<div class="small_val" title="Weather">{{date}}</div>
								<img class="icon" alt="light rain" src="{{day.condition.icon}}" />
								<div class="small_val" title="Temp">{{day.avgtemp_c}} °C</div>
								<span class="weather-text">{{day.condition.text}}</span> {{#wind}}
								<div class="small_val" title="Wind">{{speed}} m/s</div>
								{{/wind}} {{#main}}
								<div class="small_val grey" title="Pressure">{{pressure}}</div>
								{{/main}}
							</div>
							{{/each}} {{/forecast}}
						</div>
					</div>
				</div>
			</div>
		</script>
	</div>
</body>

</html>
