<!DOCTYPE html>
<html>

<head>
	<title>Weather app</title>
	<meta charset=utf-8>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="../styles/index.css" />

	<!-- Scripts -->
	<!--<script src="../js/scripts/jquery-3.2.1.min.js"></script>-->
	<script src="../js/scripts/handlebars.min.js"></script>


	<script src="../js/data/CurrentWeather.js" type="text/javascript"></script>
	<script src="../js/data/ForecastWeather.js" type="text/javascript"></script>
	<script src="../js/App.js" type="text/javascript"></script>
	<script src="../js/dataOptions.js" type="text/javascript"></script>

</head>

<body>
	<div class="app-component">
		<script class="weather-template" type="text/x-handlebars-template">
			<div class="wrapper">
				<div class="forecast-data-component">
					<h1 class="header">Weather forecast for {{location.name}}</h1>
					<div class="content">


					</div>
				</div>
			</div>
		</script>
	</div>
</body>

</html>