<div class="app">
	<div class="top"></div>
	<div class="middle">
		<div class="img-container">
			<img src="../../../images/weater_logo2.png" alt="Weather logo">
		</div>

		<div class="show-box"></div>
	</div>
	<div class="bottom"></div>
</div>
