<div class="input-container">
	<input type="text" class="search-value" value="" placeholder="Type location..">
</div>
<div class="button-container">
	<div class="btn disabled">
		<span>Search</span>
	</div>
</div>
